<!DOCTYPE html>
<html>
<head>
    <title>Tabula RaZa's Pokedex</title>
    <meta name="description" content="Der Pokédex von Tabula RaZa">
    <meta charset="utf-8">
    
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<!-- BODY -->

<body>

    <!-- NAVIGATIONSLEISTE -->
    <nav>
        <ul>
            <li>
                <div name="home">
                    <a href="/">Home</a>
                </div>
            </li>
            <li>
                <div name="user">
                    <a href="/pkUser">Profil</a>
                </div>
            </li>
            <li>
                <div name="impressum">
                    <a href="/about">Impressum</a>
                </div>
            </li>
        </ul>
    </nav>
    
    <!-- DEX -->
    <div class="dex">
        
        <!--LINKER DATENSCHIRM-->
        <!--Auswahlmöglichkeiten-->
        <!--Links MÜSSEN individuelles Padding in Abhängigkeit von der Textlänge bekommen, weil sonst die ganze Schaltfläche
            nicht als Link benutzt werden kann...-->
        <div class="data-left">
            <div class="dl-btn">
                <a href="pkDex" style="padding: 26px 130px 37px;">Pokédex</a>
            </div>
            <div class="dl-btn">
                <a href="click" style="padding: 26px 123px 37px">Clickfight!</a>
            </div>
            <div class="dl-btn">
                <a href="pkTeam" style="padding: 26px 119px 37px">Mein Team</a>
            </div>
            <div class="dl-btn">Links</div>
        </div>
        
        <!--RECHTER DATENSCHIRM-->
        <!--Index: Newsfeed-->
        <div class="data-right">
            <div class="team-von">
                <h3>Team von <%=pkTeam[0].team[0].sign%></h3>
            </div>
            <div>
                <p></p>
                <p><%=pkTeam[0].team[1].mem%></p>
                <p><%=pkTeam[0].team[2].mem%></p>
                <p><%=pkTeam[0].team[3].mem%></p>
                <p><%=pkTeam[0].team[4].mem%></p>
                <p><%=pkTeam[0].team[5].mem%></p>
                <p><%=pkTeam[0].team[6].mem%></p>     
            </div>
            
        </div>
    
    </div>
    
    <footer>© Tabula RaZa 2015</footer>

</body>
</html>