<html>
    <head>
        <title>PkTeam</title>
    </head>
    <body>
        <h1>pkTeam</h1>
        <ul>
            <%
            pkTeam.forEach(function(pkTeam) {
                %><li><%=pkTeam.team[0].sign%></li><%
                %><li><%=pkTeam.team[1].mem%></li><%
                %><li><%=pkTeam.team[2].mem%></li><%
                %><li><%=pkTeam.team[3].mem%></li><%
                %><li><%=pkTeam.team[4].mem%></li><%
                %><li><%=pkTeam.team[5].mem%></li><%
                %><li><%=pkTeam.team[6].mem%></li><%
            });
            %>
        </ul>
    </body>
</html>